{
    "admin": "gempir",
    "logsDirectory": "./logs",
    "username": "gempbot",
    "oauth": "oauthtokenforchat",
    "clientID": "mytwitchclientid",
    "logLevel": "debug",
    "channels": ["gempir", "pajlada"]
}