{
    "admins": ["gempir"],
    "logsDirectory": "./logs",
    "adminAPIKey": "noshot",
    "username": "gempbot",
    "oauth": "oauthtokenforchat",
    "clientID": "mytwitchclientid",
    "clientSecret": "mysecret",
    "logLevel": "info",
    "channels": ["77829817", "11148817"],
    "archive": true,
    "channelConfigs": {
        "77829817": {
            "messageTypes": [1]
        }
    }
}