{
    "admin": "gempir",
    "logsDirectory": "/var/justlog",
    "clientID": "{{ clientID }}",
    "username": "{{ username }}",
    "oauth": "{{ oauth }}",
    "channels": [
        "gempir", 
        "pajlada",
        "gempbot",
        "forsen",
        "jaxerie",
        "nymn",
        "nani",
        "trizze",
        "chancu",
        "tearon",
        "thiccanimegrili",
        "razq",
        "krakenbul",
        "infinitegachi"
    ]
}