{
    "admin": "gempir",
    "logsDirectory": "/mnt/data/justlog",
    "clientID": "{{ clientID }}",
    "username": "{{ username }}",
    "oauth": "{{ oauth }}",
    "channels": [
        "11148817",
        "77829817",
        "99659894",
        "22484632",
        "42426044",
        "62300805",
        "93031467",
        "14824099",
        "133554225",
        "36396364",
        "134551603",
        "43689956",
        "41015858",
        "74844182",
        "36588055"
    ]
}