.filter {
    position: relative;
    flex: 0.1;
    background: $grey-medium;
    margin-right: 15px;
    height: 300px;
    padding: 1rem;
    border-radius: 3px;
    @include box-shadow(1);

    input {
        width: 100%;
        margin-bottom: 10px;
    
        &::-webkit-input-placeholder {
            opacity: 0.25;
        }
    }

    select {
        margin-right: 5px;
    }

    .show-logs {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}