.filter {
    position: relative;
    display: flex;
    width: 600px;
    background: $grey-medium;
    padding: 0.5rem;
    margin: 0 auto 1rem;
    border-radius: 3px;
    font-size: 1rem;
    @include box-shadow(1);

    input {
        width: 100%;
        padding: 0 0.5rem;
    
        &::-webkit-input-placeholder {
            opacity: 0.25;
        }
    }

    .AutocompleteInput {
        width: 100%;
        margin-right: 0.5rem;
    }

    .show-logs {
        width: 200px;
        margin-left: 0.5rem;
        background: $dark-blue;

        &:hover, &:active {
            background: $light-blue;
        }
    }
}